---
layout: default
---

<div class="blog-index">
    <article>
  <div class="entry-content">Welcome to the Rebar Plugins Tutorial. 
        Follow the links in the sidebar to your right in order to get to the
        various articles in the series. You can also follow the blog, which is 
        regularly updated with progress of the series and various links to 
        source code and other goodies.
  </div>
    <article>
</div>
<aside class="sidebar">
  {% if site.blog_index_asides.size %}
    {% include_array blog_index_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
